.title {
  display: flex;
  justify-content: center;
}

.question1 {
  display: flow-root;
  text-align: center;
}

.question2 {
  display: flow-root;
  text-align: center;
}

.question3 {
  display: flow-root;
  text-align: center;
}

.question4 {
  display: flow-root;
  text-align: center;
}

button {
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
}